<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define a console appender -->
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define the first file appender -->
    <appender name="FileAppender1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/file1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/file1-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define the second file appender -->
    <appender name="FileAppender2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/file2.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/file2-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

     <!-- Logger for Service Layer -->
     <logger name="TWAJavaTraining.ExcelTraining.Service" level="INFO" additivity="false">
        <appender-ref ref="FileAppender2"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="FileAppender1" />
        <appender-ref ref="FileAppender2" />
    </root>

</configuration>